.body {
  display: block;
  width: 800px;
  height: 400px;
}
.spoiler_content {
  margin: 10px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.spoiler_content p {
  text-align: left;
  margin-bottom: 5px;
}

.read-more-state {
  display: none;
}

.text_hide {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease-in-out;
}

.read-more-state:checked ~ .spoiler_content .text_hide {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state:checked ~ .spoiler_content p {
  margin-bottom: 20px;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Показать всё";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Скрыть";
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  color: #2e2d2d;
  font-size: 0.9em;
  line-height: 2;
  border: none;
  border-radius: 0.25em;
  margin-bottom: 15px;
}

